.rarity-5 {
    background: linear-gradient(180deg, #885550, #c9a36a 53%);
}

.rarity-4 {
    background: linear-gradient(180deg, #343659, #8a5fcc 53%);
}

body {
    background-color: #23242a;
    color: #fff;
}

span {
    box-sizing: border-box;
}

.hsr-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: space-between;
}

.card {
    word-wrap: break-word;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

#root{
    display: grid;
    grid-template-rows: repeat(3, 385px);
    row-gap: 3px;
}

.version_1{
    display: grid;
    grid-template-columns: repeat(18, 280px);
    column-gap: 3px;
}

.version_2{
    display: grid;
    grid-template-columns: repeat(34, 280px);
    column-gap: 3px;
}

.version_3{
    display: grid;
    grid-template-columns: repeat(14, 280px);
    column-gap: 3px;
}