.rarity-5 {
    background: linear-gradient(180deg, #885550, #c9a36a 53%);
}

.rarity-4 {
    background: linear-gradient(180deg, #343659, #8a5fcc 53%);
}

body {
    background: #23242a !important;
    color: #fff;
}

.root {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}
.major{
    display: flex;
    flex-flow: column;
}

.minor{
    display: flex;
}

.banner{
    display: flex;
}

.character.featured, .character.rerun {
    display: flex;
    flex-direction: row;
}

.rerun .rarity-5{
    background: linear-gradient(180deg, #103783, #9bafd9 53%);
    /*background: linear-gradient(180deg, #454852, #ffffff 53%);*/
}
.characterCard {
    margin-left: 5px;
    margin-bottom: 5px;
}

.characterIcon{
    width: 288px;
    height: 385px;
}

.rarity-4 .characterIcon{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 125px;
}

.button{
    display: block;
    min-width: 100%;
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: dimgray;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
}

.button:first-child{
    margin-top: 10px;
}