.rarity-5 {
    background: linear-gradient(180deg, #885550, #c9a36a 53%);
}

.rarity-5-special {
    background: linear-gradient(180deg, #5e57c7, #9b2a3b 53%);
}

.rerun .rarity-5 {
    background: linear-gradient(180deg, #103783, #9bafd9 53%);
    /*background: linear-gradient(180deg, #454852, #ffffff 53%);*/
}

.rarity-4 {
    background: linear-gradient(180deg, #343659, #8a5fcc 53%);
}

body {
    background: #23242a !important;
    color: #fff;
}

.root {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.major {
    display: flex;
    flex-flow: column;
    overflow-x: scroll;
}

.minor {
    display: flex;
}

.banner {
    display: flex;
}

.featured, .rerun {
    display: flex;
    flex-direction: row;
}

.characterCard {
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
}

.characterIcon {
    width: 288px;
    height: 385px;
}

.rarity-4 .characterIcon {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 125px;
}

.floating-icon {
    display: none;
}

.characterCard:hover .floating-icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.elementIcon {
    border-radius: 999px;
    background: #262626;
    padding: min(max(calc(15%),2px),5px);
    width: 50px;
}

.pathIcon {
    border-radius: 999px;
    background: #262626;
    padding: min(max(calc(15%),2px),5px);
    width: 50px;
}

.button {
    display: block;
    min-width: 100%;
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: dimgray;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
}

.button:first-child {
    margin-top: 10px;
}

.version {
    border: 1px solid gray;
    background-color: dimgray;
    color: white;
    margin-bottom: 5px;
    border-radius: 10px;
    align-content: center;
}

.text {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font: bold 20px Sans-Serif;
}

.rotated {
    position: relative;
    display: block;
    padding: 5px 10px;
    line-height: 24px;
    writing-mode: sideways-lr;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: right;
    padding: 5px;
    background-color: dimgray;
    color: #000;
    width: 100%;
}

.footerDiv {
    display: flex;
    justify-content: space-between;
}

.mapLegend {
    display: none;
    background-color: #23242a;
    border-radius: 5px;
    border: 3px solid lightgray;
    color: lightgray;
    text-align: left;
    margin-bottom: 60px;
}

.mapLegendBtn:hover .mapLegend {
    display: grid;
    width: 50%;
    position: absolute;
    bottom: 0;
}

@media (min-width: 2000px) {
    .mapLegendBtn:hover .mapLegend {
        width: 35%;
    }
}

.entryDiv {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
}


.entryDiv .rerun {
    /* This is here because the rerun banner is decided by the rerun or featured tag on the parentDiv */
    background: linear-gradient(180deg, #103783, #9bafd9 53%);
    /*background: linear-gradient(180deg, #454852, #ffffff 53%);*/
}

.legend {
    display: grid;
    width: 100px;
    height: 100px;
    margin: 5px;
}
